@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');


/*<?php
// Define que o arquivo terá a codificação de saída no formato CSS
header("Content-type: text/css");

?>
/* O body das páginas que contém o background image*/

.follow, .contato, .login, .cadastro, .wrapper, .index{
  height: 100%;
  width:100%;
  margin: 0 auto;
  font-family: 'Josefin Sans', sans-serif;
  /*font-family:'Josefin Sans';*/
  color: #e92eed;
  background-image:url(../img/bgcontactus.png);
}

/* ***************************************************** */
.principal, .bandas{
  width:100%;
  height: 100%;
  margin: 0 auto;
  font-family: 'Josefin Sans', sans-serif;
  /*font-family:'Josefin Sans';*/
  color: #e92eed;
  background-color: black;}

/* ********************************************************************************************************************************* */
/* ********************************************************************************************************************************* */

/* ************************************************************ HEADER ************************************************************* */

/* ********************************************************************************************************************************* */
/* ********************************************************************************************************************************* */
header{
  overflow: visible;
  background-color: black;
  padding: 10px 5px;
  transition: 0.4s;
  display: -webkit-box;

}

.nav-list-entrar{

  
  list-style: none;


}

.dropbtn{

  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
  font-size: xx-large;
  background: -webkit-linear-gradient(-135deg,#c850c0, #0099f9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 2vmax;
  margin-left: 15vmax;




}


#logo-entrar{

  font-size: 24px;
  text-transform: uppercase;
  margin-right: 20vmax;
}



.nav-list{

  font-family: 'Josefin Sans', sans-serif;
  list-style: none;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;




}


.nav-list ul {

  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-left: 12vmax;
  justify-content: center;



}



.nav-list a:hover {
  border-bottom: 8px solid #7974d8;
  color: white;
  padding-bottom: 3.4vmax;
  animation: none;
  transition: none;

}

#nome-perfil{

  list-style: none;


}

.dropdown{

  font-family: 'Josefin Sans', sans-serif;
  position:absolute;
  overflow:visible;

 
}

.dropdown-content a:hover{

  background-color: #142029;


}

.dropdown-content{

  margin-left: 9vmax;
}

/* LOJAS E LOJA */

#titulo-lojas{

  background-color: #7572d9;
  box-shadow: 0px 4px 4px 0px #7572d9;
  width: 24vmax;
  margin-bottom: 8%;



}

#titulo-loja-artista{

  background-color: #7572d9;
  box-shadow: 0px 4px 4px 0px #7572d9;
  width: 24vmax;
  margin-bottom: 3vmax;

}

#loja-nome{

  flex-direction: column;
  margin-bottom: 3vmax;
}

#nome-loja-artista{

  color: #7572d9;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 8vmax;

}

/* ********************************************************************************************************************************* */
/* ********************************************************************************************************************************* */

/* ************************************************************ 𝗠𝗘𝗡𝗨 ************************************************************** */

/* ********************************************************************************************************************************* */
/* ********************************************************************************************************************************* */


* {
  margin: 0;
  padding: 0;
}


#logo-logado {
  font-size: 24px;
  text-transform: uppercase;
  margin-right: 17vmax;
  
  
}

nav {
  
  background: black;
  height: 13vh;
}

.nav-list li a{

  color: white;
}

.nav-list li a:hover{

  outline: none;
}


.nav-list {

  list-style: none;
  display: flex;
  flex-direction: row;
  justify-items: space-evenly;
  width: 100%;


}

.navbar-header{

  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}


.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}





/* ********************************************************************************************************************************* */
/* ********************************************************************************************************************************* */

/* ********************************************************* SLIDES MENU *********************************************************** */

/* ********************************************************************************************************************************* */
/* ********************************************************************************************************************************* */

.carousel {
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.slides {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slides::-webkit-scrollbar {
  display: none;
}

.slides-item {
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-shrink: 0;
  font-size: 100px;
  height: 600px;
  justify-content: center;
  margin: 0 1rem;
  position: relative;
  scroll-snap-align: start;
  transform: scale(1);
  transform-origin: center center;
  transition: transform .5s;
  width: 100%;
}

.carousel__nav {
  padding: 1.25rem .5rem;
}

.slider-nav {
  align-items: center;
  background-color: #ddd;
  color: #000;
  display: inline-flex;
  height: 1.5rem;
  justify-content: center;
  padding: .5rem;
  position: relative;
  text-decoration: none;
  width: 1.5rem;
}

.slider-nav:hover,
.slider-nav:active {
  background-color: #000;
  color: #fff;
}

.slide-1 {
  height: auto;
  width: auto;
}

.slide-2 {
  height: auto;
  width: auto;
}

.slide-3 {
  background-color: #cdf;
}

.slide-4 {
  background-color: #dca;
}

.slide-5 {
  background-color: #ffc;
}


.carousel__skip-link {
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

.carousel__skip-link:focus {
  align-items: center;
  background-color: transparent;
  color: #fff;
  display: flex;
  height: 600px;
  justify-content: center;
  opacity: .8;
  width: 100%;
  z-index: 10;
}

.carousel__skip-message {
  background-color: #000;
  color: #fff;
  padding: 0.5rem;
  width: 100%;
}

/* ********************************************************************************************************************************* */
/* ********************************************************************************************************************************* */

/* *********************************************************** SOBRE *************************************************************** */

/* ********************************************************************************************************************************* */
/* ********************************************************************************************************************************* */
.about{
  background-image:url(../img/bgsobre.png);
}
.about {
    width: 100%;
    padding: 5vh 0vw;
}

.rockxabaicon{
    height: 37vh;
    width: 37vw;
}

.about-text{
    width: 100vw;
}

.main-about{
    width: 70vw;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2{
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: justify;
}

.about-text h2 span{
    color: rgb(255, 37, 201);
}

.about-text p span{
    color: #57B7F2;
}

.about-text p{
    line-height: 1.8vmax;
    letter-spacing: 0.1vmax;
    font-size: 1.5vmax;
    margin-bottom: 1.5vmax;
    font-family:'Josefin Sans', sans-serif;
    text-align: justify;
}
/*************************************/
.about-text  ul li{
  display: inline-block;
  list-style: none;
  margin-left: 0.5vh;
  max-width: 100%;
  padding-top: 0.5vh;
  padding-right: 5vh;
}

.about img{
height: auto;
}

.about img:hover{
-moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
transform: scale(1.1);
}

.about-text h2 span{
color: white;
}

.waves-effect.waves-light
{background-color: #d200f2;}
/* ***************************************************** */



/* ********************************************************************************************************************************* */
/* ********************************************************************************************************************************* */

/* *********************************************************** SIGA-NOS ************************************************************ */

/* ********************************************************************************************************************************* */
/* ********************************************************************************************************************************* */

.follow-text  ul li{
    display: inline-block;
    list-style: none;
    margin-left: 20px;
    max-width: 100%;
    padding-top: 100px;
    padding-right: 40px;
}

.follow {

  width: 100%;
  padding: 40px 0px;

}

.follow img{
  height: auto;
}

.follow img:hover{
  -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.main-follow{
  margin: 0 auto;
  justify-content: space-around;
  display: flex;
}

.follow-text h2{
  font-size: 50px;
  text-transform: capitalize;
  margin-bottom: 20px;
  font-family: 'Staatliches', cursive;
  text-align: center;
}

.follow-text h2 span{
  color: white;
}

.waves-effect.waves-light
{background-color: #d200f2;}

/* ***************************************************** */

/* Estilização dos erros na validação dos formulários */

/* Deixa a cor da mensagem de erro na validação vermelha */
span.erro {
  color: red;
}

/* Deixa a cor da sombra do elemento (input class = 'invalido') vermelha */
input.invalido{
  box-shadow: 5px 8px red;
}

/* ***************************************************** */

/* ********************************************************************************************************************************* */
/* ********************************************************************************************************************************* */

/* ************************************************************** LOGIN ************************************************************ */

/* ********************************************************************************************************************************* */
/* ********************************************************************************************************************************* */

/* Muda a fonte do "Login" no formulário */

.caixa h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

/* Propriedades da "caixa principal" do formulário */

.caixa {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: black;
  text-align: center;
  font-family: sans-serif;
}

/* Altera as propriedades dos inputs do formulário */

.caixa input[type = "text"], .caixa input[type= "password"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #e92eed;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: o.25s;
}

/* Altera as propriedades dos inputs do formulário quando são acessados */

.caixa input[type = "text"]:hover, .caixa input[type= "password"]:hover{
  width: 280px;
  border-color: #58b9ff;
}

/* Altera as propriedades do botão*/

.caixa input[type ="button"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid  #58b9ff;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

/* Altera as propriedades do botão quando se passa o mouse*/

.caixa button[type ="button"]:hover{
  background: #58b9ff;
}

/* Tira a estilização do botão "Criar Conta"*/

.caixa a{

  text-decoration: none;
}

/* Altera as propriedades do botão quando se passa o mouse*/

.caixa input[type ="button"]:hover{

  background: #58b9ff;


}

/* ***************************************************** */

/* Estilização da página Contato */

/* Muda a fonte do "Contato" no formulário */

.formulario h1{

  color: white;
  font-weight: 500;
  text-transform: uppercase;


}

/* Propriedades da "caixa principal" do formulário */

.formulario {

  width: 300px;
  padding: 10px;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: black;
  text-align: center;
  font-family: sans-serif;


}

/* Altera as propriedades dos inputs do formulário */

.formulario input[type = "text"], .formulario input[type= "password"], .formulario input[type="email"]{

  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #e92eed;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;

}

.formulario textarea[name="mensagem"]{

  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  border: 2px solid #e92eed;
  padding: 14px 10px;
  text-align: center;
  width: 200px;
  height: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;



}

/* Altera as propridades dos inputs do formulário quando são acessados */

.formulario input[type = "text"]:hover, .formulario input[type= "password"]:hover, .formulario input[type="email"]:hover, .formulario textarea[name="mensagem"]:hover{

  width: 280px;
  border-color: #58b9ff;

}



/* Altera as propriedades do botão*/

.formulario input[type ="button"], .button_photo{

  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid  #58b9ff;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;



}

/* Altera as propriedades do botão quando se passa o mouse*/

.formulario input[type ="button"]:hover{

  background: #58b9ff;


}

/* ********************************************************************************************************************************* */
/* ********************************************************************************************************************************* */

/* ********************************************************* CADASTRO ************************************************************** */

/* ********************************************************************************************************************************* */
/* ********************************************************************************************************************************* */

/* Muda a fonte do "Contato" no formulário */

.form h1{

  color: white;
  font-weight: 500;
  text-transform: uppercase;


}

/* Propriedades da "caixa principal" do formulário */

.form {

  width: 400px;
  padding: 10px;
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: black;
  text-align: center;
  font-family: sans-serif;


}

/* Altera as propriedades dos inputs do formulário */

.form input[type = "text"], .form input[type= "password"], .form input[type="email"]{

  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #e92eed;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: o.25s;

}


/* Altera as propridades dos inputs do formulário quando são acessados */

.form input[type = "text"]:hover, .form input[type= "password"]:hover, .form input[type="email"]:hover{

  width: 280px;
  border-color: #58b9ff;

}

/* Altera as propriedades do botão*/

.form input[type ="button"]{

  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid  #58b9ff;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;



}

/* Altera as propriedades do botão quando se passa o mouse*/

.form input[type ="button"]:hover{

  background: #58b9ff;


}

.form p, label {

  color: white;
  font-family: sans-serif;


}

/* ********************************************************************************************************************************* */
/* ********************************************************************************************************************************* */

/* *********************************************************** ARTISTAS ************************************************************ */

/* ********************************************************************************************************************************* */
/* ********************************************************************************************************************************* */

.bandas-text  ul li{
  display: inline-block;
  list-style: none;
  margin-left: 20px;
  max-width: 100%;
  padding-top: 50px;
  padding-right: 40px;
  text-align:center;
}

.main-bandas{
  background-color: #0d0d0d;
  margin: 0 auto;
  display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;


}

.bandas-text h2{
  font-size: 50px;
  text-transform: capitalize;
  margin-bottom: 20px;
  font-family: 'Staatliches', cursive;

}

.bandas img{
  align-items: center;
    justify-content: center;
    text-align:center;

  display: inline-block;
  width: 300px;
  height: 300px;


	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
  transition: transform 0.5s, filter 0.5s ease-in-out;
  filter: grayscale(0);

}

.bandas img:hover{
  filter: grayscale(100%);
  -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.bandas-text h2 span{
  color: white;

}

/* ***************************************************** */

/* Estilização da sub-página do Pink Floyd */

.pink {
  width: 100%;
  padding: 10px 0px;
  background-color: black;
}

.pink img{
  height: 50%;
  width: 40%;

}

.pink-text{
  width: 550px;
}

.main-pink{
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pink-text h2{
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
  font-family: 'Staatliches', cursive;
  text-align: center;
  color: #e92eed;
  letter-spacing: 1px;
}

.pink-text h2 span{
  letter-spacing: 1px;
  color: white;
}

.pink-text p span{
  color: #57B7F2;
}

.pink-text p{
  line-height: 28px;
  letter-spacing: 1px;
  font-size: 18px;
  margin-bottom: 45px;
  font-family:'Times New Roman', Times, serif;
  text-align: justify;
  color: #e92eed;
}

/* ***************************************************** */

/* Estilização da sub-página do Red Hot Chili Peppers */

.redd {
  width: 100%;
  padding: 10px 0px;
  background-color: black;
}

.redd img{
  height: 60%;
  width: 40%;

}

.redd-text{
  width: 550px;
}

.main-redd{
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.redd-text h2{
  font-size: 60px;
  text-transform: capitalize;
  margin-bottom: 20px;
  font-family: 'Staatliches', cursive;
  text-align: center;
  color: red;
  letter-spacing: 1px;
}

.redd-text h2 span{
  letter-spacing: 1px;
  color: white;
}

.redd-text p span{
  color: #ffffff;
}

.redd-text p{
  line-height: 28px;
  letter-spacing: 1px;
  font-size: 18px;
  margin-bottom: 45px;
  font-family:'Times New Roman', Times, serif;
  text-align: justify;
  color: red;
}

/* ***************************************************** */
/* Estilização da sub-página do Rex Orange County*/

.rexx {
  width: 100%;
  padding: 10px 0px;
  background-color: black;
}

.image_rex{
  
  height: auto;
  width: 430px;
  margin-top: 5vmax;

}

.rexx-text{

  width: 550px;
}

.main-rexx{
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.rexx-text h2{
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
  font-family: 'Staatliches', cursive;
  text-align: center;

  letter-spacing: 1px;
}

.rexx-text h2 span{
  letter-spacing: 1px;
  color: white;
}

.rexx-text p span{
  color: #ffffff;
}

.rexx-text p{
  line-height: 28px;
  letter-spacing: 1px;
  font-size: 15px;
  margin-bottom: 45px;

  font-family: "Quicksand", sans-serif;
  text-align: justify;

}

/* Semi-estilização do embed do Spotify */

.spotify{
  max-width: 300px;
}
.spotify_1{
  left: 0;
  width: 184%;
  height: 0;
  position: relative;
  padding-bottom: 100%;
  padding-top: 80px;
}

/* ***************************************************** */
/* Estilização da barra de pesquisa em Artistas */


.form-inline button[type = "submit"]{

  display: inline-block;
  height: 50%;


}

.form-inline input[type= "search"]{

  border-radius: 24px;
  height: 50%;
  width: 500px;
  border-color: none;
  background-color: rgb(90, 81, 81);
  color: white;
  font-family: 'Staatliches', cursive;


}

.form-inline input[type= "search"]:hover{

  border-color: #e92eed;

}

/* ***************************************************** */
/* Estilização do Menu Dropdown */

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: none;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


/* PERFIL */
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext");
html {
  position: relative;
  overflow-x: hidden !important;
}

* {
  box-sizing: border-box;
}


a, a:hover {
  text-decoration: none;
}

.wrapper {
  width: 100%;
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 50px 20px;
  padding-top: 100px;
  display: flex;
  background-image: url(../img/bgcontactus.png);

}
@media screen and (max-width: 768px) {
  .wrapper {
    height: auto;
    min-height: 100vh;
    padding-top: 100px;
  }
}

.profile-card {
  width: 100%;
  min-height: 600px;
  margin: auto;
  background-image: -webkit-linear-gradient(10deg,#c850c0, #0099f9);
  border-radius: 50px;
  max-width: 900px;
  position: relative;
}
.profile-card.active .profile-card__cnt {
  filter: blur(6px);
}
.profile-card.active .profile-card-message,
.profile-card.active .profile-card__overlay {
  opacity: 1;
  pointer-events: auto;
  transition-delay: 0.1s;
}
.profile-card.active .profile-card-form {
  transform: none;
  transition-delay: 0.1s;
}
.profile-card__img {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 4;
  box-shadow: 0px 5px 25px 0px #0099f9, 0px 0px 0px 7px #0099f9;
}
@media screen and (max-width: 576px) {
  .profile-card__img {
    width: 120px;
    height: 120px;
  }
}
.profile-card__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.profile-card__cnt {
  margin-top: -35px;
  text-align: center;
  justify-content: center;
  padding: 0 20px;
  padding-bottom: 40px;
  transition: all 0.3s;
}

.profile-card__name {
  
  border-radius: 20px;
  background: rgba(123,65,139,0.5);
  backdrop-filter: blur(2px);
  color: rgba(114,43,111,225);
  height: 3vmax;
  width: 25vmax;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 2vmax;
}

#nome-pagina-perfil{

  padding-top: 4px;
  font-weight: 200;
  font-size: 18px;
  color: rgba(114,43,111,225);
  
}

.profile-card__txt {
  font-size: 15px;
  padding: 1vmax;
  border-radius: 20px;
  font-weight: 500;
  background: rgba(123,65,139,0.5);
  backdrop-filter: blur(2px);
  color: rgba(114,43,111,225);
  margin: 0 auto;
  margin-left: 12vmax;
  margin-right: 12vmax;
}


.profile-card-ctr {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
}
@media screen and (max-width: 576px) {
  .profile-card-ctr {
    flex-wrap: wrap;
  }
}

#edita-perfil{

  border: none;
  background: none;
  

}

#edita-perfil a{

  color: white;
  font-family: 'Josefin Sans', sans-serif;


}

#deleta-conta{

  border: none;
  background: none;

}

#deleta-conta a{

  color: white;
  font-family: 'Josefin Sans', sans-serif;


}

.seguranca{

  width: 30px;
  height: 30px;
}


.profile-card-form {
  box-shadow: 0 4px 30px rgba(15, 22, 56, 0.35);
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 35px;
  transform: scale(0.8);
  position: relative;
  z-index: 3;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .profile-card-form {
    max-width: 90%;
    height: auto;
  }
}
@media screen and (max-width: 576px) {
  .profile-card-form {
    padding: 20px;
  }
}
.profile-card-form__bottom {
  justify-content: space-between;
  display: flex;
}
@media screen and (max-width: 576px) {
  .profile-card-form__bottom {
    flex-wrap: wrap;
  }
}

.profile-card__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  background: rgba(22, 33, 72, 0.35);
  border-radius: 12px;
  transition: all 0.3s;
}

.seguindo-notificacoes{

  display: flex;
  width: 100%;
  flex-direction: row;
  height: 450px;
  margin-top: 2vmax;
}

.artistas-seguidos{
  width: 100%;
  
}

.caixa-notificacoes{

  background: rgba(123,65,139,0.4);
  backdrop-filter: blur(2px);
  width: 350px;
  height: 350px;
  margin: 0 auto;
  padding: 1vmax;
  overflow-y: scroll;

}

.notificacao{


  background: rgba(51,62,110,0.7);
  backdrop-filter: blur(2px);
  height: 80px;
  overflow: hidden;
  width: 100%;
  border-radius: 60px;
  margin-bottom: 2vmax;
  padding: 1vmax;


}

#texto-notificacao{

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  font-size: 14px;
  
}

.notificacoes{

  width: 100%;
  
 
}

#titulo-notificacoes{

  margin: 0;
  color: white;
  font-size: 25px;
  font-weight: 100;
  
}

#titulo-artistas-seguidos{

  margin: 0;
  color: white;
  font-size: 25px;
  font-weight: 100;

}

#artistas-logo-seguidos{

  border: 5px solid #3b3a3a;
  width: 350px;
  height: 350px;


}

.ativa-desativa-notificacoes{

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}

#notificacoes-switch-texto{

  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;

}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}




/***************  BANDAS E ARTISTAS   **************/

/* Background de Artistas */

.body_caption{

  background-image: url(../img/bgartistas.png);
}

.img-box{
  margin-top: 20px;}
.img-block{
  float: left;
  margin-right: 5px;
  text-align: center;}
p{
  margin-top: 0;}
.img-block img{

  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: transform 0.5s, filter 0.5s ease-in-out;
  filter: grayscale(0);
  height: 360px;
  width: 310px;
  max-width: 100%;
  margin: 25px;
  border:2px solid #5500ff;
}

/*
  background: linear-gradient(-135deg, #c850c0, #0099f9);
*/



:root {

  --gray: #010101;
  --darkgray: #010101;
}


select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
  padding: 0 1em;
  color: #3b3a3a;
  background-color: var(--darkgray);
  background-image: none;
  cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {

  display: flex;
  position: relative;
  font-weight: 700;
  margin: 0;
  width: 10em;
  height: 2em;
  border-radius: 8vmax;
  overflow: hidden;
  justify-content: center;
}
/* Arrow */
.select::after {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #000000;
  transition: .25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #393939;
}

.searchform input[type=search] {


  font: 1em/1.618 'Josefin Sans', sans-serif;
  border: .125em solid linear-gradient(60deg,#c850c0, #0099f9) 30;
  border-width: 0 0 3px;
  background-color: transparent;
  border-image: linear-gradient(60deg,#c850c0, #0099f9) 30;
  padding: .1875em .375em;
  width: 40%;
  margin: 0;



}

.searchform input[type=search]:focus {
  border-image: linear-gradient(60deg,#c850c0, #0099f9) 30;
  outline: 0;
}

@media only screen and (min-width: 48em) {
  .searchform input[type=search]{ width: 50vmax;
  margin-left: 1vmax; }
}

.artista-buscar-filtrar{

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vmax;


}

/* ARTISTA_PAGE */


#nome-artista{

  margin-bottom: 30%;
  text-align: center;
  

}

#nome-artista span{

  background-color:#06d388;
  color:#0d0d0d;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 7vmax;
  box-shadow: 0px 5px 20px 0px #06d388, 0px 0px 0px 7px #06d388;

}
  

.rexx{

  background-image: url(../img/bgcontactus.png);
}

.main-rexx{

  margin-top: 4vmax;
}

#logo-artista{

  margin-top: 0%;
  box-shadow: 0px 5px 50px 0px #06d388, 0px 0px 0px 7px #06d388;


}


#dsc-artista{

  font-family: Arial, Helvetica, sans-serif;
  color:#06d388;
  font-size: large;
  text-shadow: 2px 2px 12px #06d388;
  text-align: center;
}

#foto-artista{

  margin-bottom: 30vmax;
  width: 500px;
}

.info-artista{

  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.generos{

  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2vmax;


}

.gen-artista{

  font-family: 'Josefin Sans', sans-serif;
  color: #383637;
  font-weight: 600;
  margin: 0 auto;
  background-color: rgb(0, 0, 0);
  border-radius: 12px;
}

.logo-titulo-artista{

  display: flex;
  flex-direction: column;
  align-items: center;
}

.seguir-curtir{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;


}

#seguir{

  font-family: 'Josefin Sans', sans-serif;
  background-color: #06d388;
  box-shadow: 0px 5px 50px 0px #06d388, 0px 0px 0px 7px #06d388;
  color: #383637;
  border: none;
  font-size: 19px;
  padding: 0;
  height: 1em;
}

#seguir:focus{

  outline-style: none;
}

.curtida-seguir{

  margin: 0 auto;
}

.nome-artista-logo{

  font-family: 'Josefin Sans', sans-serif;
}
